.btn {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-300);
    color: var(--color-white);
    padding: 0 var(--spacing-lg);
    background-color: var(--gray-200);
    border-radius: 0.5rem;
    transition: 0.4s;
    &:hover {
        background-color: var(--color-primary);
    }
    &.sm {
        height: 2.5rem;
    }
    &.lg {
        height: 3.75rem;
    }
}
