:root {
    --color-primary: #27AE60;
    --color-secondary: #EB5757;
    --color-white: #FFF;
    --gray-0: #F5F5F5;
    --gray-100: #E0E0E0;
    --gray-200: #BDBDBD;
    --gray-300: #828282;
    --gray-600: #333333;

    --font-primary: "Inter", sans-serif;
    --font-size-100: 0.75rem;
    --font-size-200: 0.875rem;
    --font-size-300: 1rem;
    --font-size-400: 1.125rem;
    --font-size-500: 1.375rem;
    --font-size-600: 1.625rem;

    --font-weight-normal: 400;
    --font-weight-bold: 600;
    --font-weight-bolder: 700;

    --spacing-xs: 0.125rem;
    --spacing-sm: 0.25rem;
    --spacing-md: 0.5rem;
    --spacing-lg: 1rem;
    --spacing-xl: 2rem;
}
