body {
    font-family: var(--font-primary);
}

.title {
    font-weight: var(--font-weight-bolder);
    font-size: var(--font-size-400);
    color: var(--gray-600);
    &.white {
        color: var(--color-white);
    }
}

.subtitle {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-100);
    color: var(--gray-300);
}

.price {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-200);
    color: var(--color-primary);

}

.total {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-200);
    color: var(--gray-600);
    &.grey {
        color: var(--gray-300);
    }
}
